body {
        margin: 0px;
        padding: 0px;
}

inp {
    top: 100px;
    left: 100px;
}
a {
	text-decoration: none;
}

h1 {
	font-size: 24px;
	margin: 0 0 15px 0;
	line-height: 40px;
	color: #FFF;
    text-align: center;
	font-weight: normal;
}

.option {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}

.demo {
    -webkit-animation-duration: 30s;
    -webkit-animation-delay: 20s;
    -webkit-animation-iteration-count: 5;
}
