body {
  padding: 50px;
 	background: -moz-linear-gradient(top, #4099FF, #062242);
 	background: -ms-linear-gradient(top, #4099FF, #062242);
 	background: -webkit-linear-gradient(top, #000, #000);
    background-attachment: fixed;
    color: #fff;
}


a {
	text-decoration: none;
}

h1 {
	font-size: 24px;
	margin: 0 0 15px 0;
	line-height: 40px;
	color: #FFF;
    text-align: center;
	font-weight: normal;
}

.option {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: 5;
}

.demo {
    -webkit-animation-duration: 30s;
    -webkit-animation-delay: 20s;
    -webkit-animation-iteration-count: 5;
}
